<div class="full-height">
  <div class="site-container">
    {{x-header}}

    <div class="container main-container">
      <div class="notifications-container">
      </div>
      {{outlet}}
    </div>
  </div>
</div>
