<form class="form-inline">
  <div class="form-group">
    {{textarea value=text type="text" class="form-control" placeholder="Add a comment..." autoresize=true}}
  </div>
  <div class="form-group">
    <button {{action "addComment"}} class="btn btn-default" disabled={{isDisabled}}>Post</button>
  </div>
</form>
